<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <DbSource version="01" remark="带束层仓库">
    <DbInfo DbName="Default" MapperName="SqlMap.01.config" />
  </DbSource>
  <PluginDbName>
    <DbMapper pluginName="Frame" dbName="Default"/>
    <DbMapper pluginName="Main" dbName="Default"/>
    <DbMapper pluginName="WanLi" dbName="Default"/>
  </PluginDbName>
</configuration>