<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <properties>
    <property key="SERVER_HOST" value="127.0.0.1" />
    <property key="SERVER_PORT" value="1521" />
    <property key="SERVICE_NAME" value="ORCL" />
    <property key="User_Id" value="wlbelt" />
    <property key="Password" value="wlbelt" />
  </properties>

  <settings>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
    <setting useReflectionOptimizer="true"/>
  </settings>
  <providers uri="file://config/providers.config"/>
  <database>
    <provider name="oracle11.2"/>
    <dataSource name="DBCONNECTSTRING" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=${SERVER_HOST})(PORT=${SERVER_PORT})))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=${SERVICE_NAME})));User Id=${User_Id};Password=${Password};"/>
  </database>
</sqlMapConfig>
