<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_PsbBiz" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM PSB_BIZ T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.BIZ_NO" prepend="AND">
           T1.BIZ_NO LIKE '%'||#where.BIZ_NO#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY BIZ_NO
     </select>
     <select id="Select@View_PsbBiz@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM PSB_BIZ T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.BIZ_NO" prepend = "AND">
           T1.BIZ_NO = #where.BIZ_NO#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
