<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_WbsTaskCmdAgvLog" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM WBS_TASK_CMD_AGV_LOG T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.AGV_GUID" prepend="AND">
           T1.AGV_GUID LIKE '%'||#where.AGV_GUID#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY AGV_GUID
     </select>
     <select id="Select@View_WbsTaskCmdAgvLog@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM WBS_TASK_CMD_AGV_LOG T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.AGV_GUID" prepend = "AND">
           T1.AGV_GUID = #where.AGV_GUID#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
