<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_PemRouteCloggedLog" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM PEM_ROUTE_CLOGGED_LOG T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.ROUTE_NO" prepend="AND">
           T1.ROUTE_NO LIKE '%'||#where.ROUTE_NO#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY ROUTE_NO
     </select>
     <select id="Select@View_PemRouteCloggedLog@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM PEM_ROUTE_CLOGGED_LOG T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.ROUTE_NO" prepend = "AND">
           T1.ROUTE_NO = #where.ROUTE_NO#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
