<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_PsbTransferType" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM PSB_TRANSFER_TYPE T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.TRANSFER_TYPE_NO" prepend="AND">
           T1.TRANSFER_TYPE_NO LIKE '%'||#where.TRANSFER_TYPE_NO#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY TRANSFER_TYPE_NO
     </select>
     <select id="Select@View_PsbTransferType@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM PSB_TRANSFER_TYPE T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.TRANSFER_TYPE_NO" prepend = "AND">
           T1.TRANSFER_TYPE_NO = #where.TRANSFER_TYPE_NO#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
