<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_PsbGrade" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM PSB_GRADE T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.GRADE_NO" prepend="AND">
           T1.GRADE_NO LIKE '%'||#where.GRADE_NO#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY GRADE_NO
     </select>
     <select id="Select@View_PsbGrade@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM PSB_GRADE T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.GRADE_NO" prepend = "AND">
           T1.GRADE_NO = #where.GRADE_NO#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
