<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_PsbTaskStep" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM PSB_TASK_STEP T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.STEP_NO" prepend="AND">
           T1.STEP_NO LIKE '%'||#where.STEP_NO#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY STEP_NO
     </select>
     <select id="Select@View_PsbTaskStep@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM PSB_TASK_STEP T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.STEP_NO" prepend = "AND">
           T1.STEP_NO = #where.STEP_NO#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
