<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_PsbMaterial" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM PSB_MATERIAL T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.MATER_NO" prepend="AND">
           T1.MATER_NO LIKE '%'||#where.MATER_NO#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY MATER_NO
     </select>
     <select id="Select@View_PsbMaterial@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM PSB_MATERIAL T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.MATER_NO" prepend = "AND">
           T1.MATER_NO = #where.MATER_NO#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
