<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_WbsBinDet" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM WBS_BIN_DET T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.BIN_NO" prepend="AND">
           T1.BIN_NO LIKE '%'||#where.BIN_NO#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY BIN_NO
     </select>
     <select id="Select@View_WbsBinDet@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM WBS_BIN_DET T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.BIN_NO" prepend = "AND">
           T1.BIN_NO = #where.BIN_NO#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
