<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_WbsTask" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM WBS_TASK T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.TASK_GUID" prepend="AND">
           T1.TASK_GUID LIKE '%'||#where.TASK_GUID#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY TASK_GUID
     </select>
     <select id="Select@View_WbsTask@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM WBS_TASK T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.TASK_GUID" prepend = "AND">
           T1.TASK_GUID = #where.TASK_GUID#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
