<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@View_TmpPageAction" parameterClass="map" resultClass="row">
      <![CDATA[ 
       SELECT * FROM TMP_PAGE_ACTION T1
      ]]>
      <dynamic prepend="WHERE">
         <isNotNull property="where.MENU_ID" prepend="AND">
           T1.MENU_ID LIKE '%'||#where.MENU_ID#||'%'
         </isNotNull>
       </dynamic>
       ORDER BY MENU_ID
     </select>
     <select id="Select@View_TmpPageAction@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM TMP_PAGE_ACTION T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.MENU_ID" prepend = "AND">
           T1.MENU_ID = #where.MENU_ID#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
