<?xml version="1.0"?>
<McConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ApplicationName>文件同步拷贝工具</ApplicationName>
  <XCopyFiles>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.DbAccess.dll</SourceFile>
      <TargetFile>..\@packages\@MSTL</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.ExcelData.dll</SourceFile>
      <TargetFile>..\@packages\@MSTL</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.Extensions.dll</SourceFile>
      <TargetFile>..\@packages\@MSTL</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.LogAgent.dll</SourceFile>
      <TargetFile>..\@packages\@MSTL</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL. ResultStruct.dll</SourceFile>
      <TargetFile>..\@packages\@MSTL</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.XmlOrm.dll</SourceFile>
      <TargetFile>..\@packages\@MSTL</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.McJson.dll</SourceFile>
      <TargetFile>..\@packages\@MSTL</TargetFile>
    </XCopyFile>
    
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\FOSS\Newtonsoft.Json\Newtonsoft.Json.dll</SourceFile>
      <TargetFile>..\@packages\Newtonsoft.Json</TargetFile>
    </XCopyFile>
    
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\Ext.NET\Ext.Net.dll</SourceFile>
      <TargetFile>..\@packages\Ext.net</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\Ext.NET\Ext.Net.Utilities.dll</SourceFile>
      <TargetFile>..\@packages\Ext.net</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\FOSS\Newtonsoft.Json\Newtonsoft.Json.dll</SourceFile>
      <TargetFile>..\@packages\Ext.net</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\Ext.NET\Transformer.NET.dll</SourceFile>
      <TargetFile>..\@packages\Ext.net</TargetFile>
    </XCopyFile>

    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\FOSS\Castle\Castle.Core.dll</SourceFile>
      <TargetFile>..\@packages\MyBatis</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\FOSS\Castle\Castle.DynamicProxy2.dll</SourceFile>
      <TargetFile>..\@packages\MyBatis</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MyBatis\MyBatis.Common.dll</SourceFile>
      <TargetFile>..\@packages\MyBatis</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MyBatis\MyBatis.DataMapper.dll</SourceFile>
      <TargetFile>..\@packages\MyBatis</TargetFile>
    </XCopyFile>
    
    
    
    
    
    
    
    
    
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.DbAccess.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.ExcelData.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.Extensions.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.LogAgent.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL. ResultStruct.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.XmlOrm.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MSTL\MSTL.McJson.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\FOSS\Newtonsoft.Json\Newtonsoft.Json.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\Ext.NET\Ext.Net.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\Ext.NET\Ext.Net.Utilities.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\FOSS\Newtonsoft.Json\Newtonsoft.Json.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\Ext.NET\Transformer.NET.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>

    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\FOSS\Castle\Castle.Core.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\FOSS\Castle\Castle.DynamicProxy2.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MyBatis\MyBatis.Common.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\..\..\@ReleseVersion\MSTL\MyBatis\MyBatis.DataMapper.dll</SourceFile>
      <TargetFile>..\1.Presentations\IEMS.Frame.WebSite\Bin</TargetFile>
    </XCopyFile>
    
  </XCopyFiles>
</McConfig>