<?xml version="1.0"?>
<McConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ApplicationName>文件同步拷贝工具</ApplicationName>
  <XCopyFiles>
  	<!--界面基类-->
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.Main.WebUI.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.WanLi.AppBiz.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.WanLi.DbCI.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.WanLi.DbMapper.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.WanLi.DbRI.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.WanLi.Entity.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.WanLi.VoDto.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.WanLi.WebSite.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\bin\IEMS.WanLi.WebUI.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.WanLi.WebSite.Publish\Plugins\WanLi\</SourceFile>
      <TargetFile>.\@IEMS</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
  </XCopyFiles>
</McConfig>