<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <DbSource version="Default" remark="默认数据库">
    <DbInfo DbName="Default" MapperName="SqlMap.config" />
  </DbSource>
  <DbSource version="Local" remark="本地数据库">
    <DbInfo DbName="Default" MapperName="Local.SqlMap.config" />
  </DbSource>

  <PluginDbName>
    <DbMapper pluginName="Frame" dbName="Default"/>
    <DbMapper pluginName="Main" dbName="Default"/>
  </PluginDbName>
</configuration>