<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <statements>
    <select id="Select@View_PelJobLog" parameterClass="map" resultClass="row">
      <![CDATA[ 
          select * from PSB_JOB_STATUS T1
       ]]>

    </select>
    <select id="Select@View_PelJobLog@MainDetail" parameterClass="map" resultClass="row">
      <![CDATA[ 
          select * from PSB_JOB_STATUS T1
      ]]>
    
    </select>
  </statements>
</sqlMap>
