<?xml version="1.0"?>
<McConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ApplicationName>文件同步拷贝工具</ApplicationName>
  <XCopyFiles>
  	<!--界面基类-->
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.AppBiz.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.DbCI.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.DbMapper.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.DbRI.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.Entity.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.McUI.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.VoDto.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.WebGlobal.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.WebUI.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\bin\IEMS.Frame.WebSite.dll</SourceFile>
      <TargetFile>.\@IEMS\bin</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
    <XCopyFile>
      <SourceFile>..\@IEMS.Frame.WebSite.Publish\McUI</SourceFile>
      <TargetFile>.\@IEMS</TargetFile>
      <CreateTargetDir>1</CreateTargetDir>
    </XCopyFile>
  </XCopyFiles>
</McConfig>