<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IEMS.Frame.DbCI.McUIService"
	xmlns="http://ibatis.apache.org/mapping"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <statements>
    <select id="Select@Custom_Tproc0204TaskFinish" parameterClass="map" resultClass="row">
      <![CDATA[ 
      select t.*
      from TPROC_0204_TASK_FINISH t
      ]]>
      <dynamic prepend="where">
         <isNotNull property="where.OBJID" prepend="AND">
           T.OBJID LIKE '%'||#where.OBJID#||'%'
         </isNotNull>        
        <isNotNull property="where.TASK_NO" prepend="AND">
          T.TASK_NO LIKE '%'||#where.TASK_NO#||'%'
        </isNotNull>
        <isNotNull property="where.SLOC_NO" prepend="AND">
          T.SLOC_NO LIKE '%'||#where.SLOC_NO#||'%'
        </isNotNull>
        <isNotNull property="where.ELOC_NO" prepend="AND">
          T.ELOC_NO LIKE '%'||#where.ELOC_NO#||'%'
        </isNotNull>
        <isNotNull property="where.CMD_TYPE" prepend="AND">
          T.CMD_TYPE LIKE '%'||#where.CMD_TYPE#||'%'
        </isNotNull>       
       </dynamic>
       ORDER BY t.OBJID
     </select>
     <select id="Select@Custom_Tproc0204TaskFinish@MainDetail" parameterClass="map" resultClass="row">
       <![CDATA[ 
       SELECT * FROM TPROC_0204_TASK_FINISH T1
      ]]>
       <dynamic prepend="WHERE">
         <isNotNull property="where.OBJID" prepend = "AND">
           T1.OBJID = #where.OBJID#
         </isNotNull>
       </dynamic>
     </select>
  </statements>
</sqlMap>
